fastapi
uvicorn
python-dotenv
sqlalchemy
passlib[bcrypt]
python-jose
jinja2
python-multipart
email-validator
cryptography
pymysql
sentence-transformers 
faiss-cpu 
python-docx 
pypdf 
requests
groq 
PyPDF2 
python-docx